
$green: #e4ede0;
$green-alt: darken($green, 40%);
$blue: #dfe7ed;
$blue-alt: darken($blue, 40%);
$red: #eddfdf;
$red-alt: darken($red, 40%);
$grey: #d2d2d2;
$grey-alt: darker($grey, 40%);

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #f2f2f2;
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-weight: 300;
    font-size: 2.4rem;
}

input, button, select {
    font-size: 1.3rem;
}


@import './components/wrapper';
@import './components/item';
@import './components/form';
@import './components/button';
@import './components/room-item';