
.room-item {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.room-item__thumb {
    padding-right: 1.3rem;
}

.room-item--done {
    background: $grey;
    border-color: $grey-alt;
}

.room-item--now {
    background: $green;
    border-color: $green-alt;
}

.room-item__content {
    flex-grow: 1;
}

.room-item__actions {
    flex-shrink: 0;
}